version: "3"

services:
  backend:
    build: ./backend
    container_name: backend-container
    ports:
      - "5001:5000"

  frontend:
    build: ./frontend
    container_name: frontend-container
    ports:
      - "5173:5173"
    depends_on:
      - backend
