steps:

# -----------------------------
# Checkout
# -----------------------------
- name: Checkout Code
  uses: actions/checkout@v4

# -----------------------------
# SonarCloud Scan
# -----------------------------
- name: SonarCloud Scan
  uses: SonarSource/sonarcloud-github-action@v2
  env:
    SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
  with:
    args: >
      -Dsonar.projectKey=ronaksolanki98_fullstack
      -Dsonar.organization=ronaksolanki98

# -----------------------------
# Quality Gate
# -----------------------------
- name: Sonar Quality Gate
  uses: SonarSource/sonarqube-quality-gate-action@master
  timeout-minutes: 5
  env:
    SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

# -----------------------------
# AWS OIDC Auth
# -----------------------------
- name: Configure AWS Credentials
  uses: aws-actions/configure-aws-credentials@v4
  with:
    role-to-assume: arn:aws:iam::216989134640:role/github-oidc-role
    aws-region: ${{ env.AWS_REGION }}

# -----------------------------
# Login to ECR
# -----------------------------
- name: Login to Amazon ECR
  uses: aws-actions/amazon-ecr-login@v2

# -----------------------------
# Build Backend Image
# -----------------------------
- name: Build Backend Image
  run: |
    docker build -t $ECR_BACKEND ./backend
    docker tag $ECR_BACKEND:latest \
    216989134640.dkr.ecr.${AWS_REGION}.amazonaws.com/$ECR_BACKEND:latest

# -----------------------------
# Build Frontend Image
# -----------------------------
- name: Build Frontend Image
  run: |
    docker build -t $ECR_FRONTEND ./frontend
    docker tag $ECR_FRONTEND:latest \
    216989134640.dkr.ecr.${AWS_REGION}.amazonaws.com/$ECR_FRONTEND:latest

# -----------------------------
# Trivy Scan Backend
# -----------------------------
- name: Scan Backend Image
  uses: aquasecurity/trivy-action@master
  with:
    image-ref: ${{ env.ECR_BACKEND }}
    format: table
    exit-code: 0
    severity: CRITICAL,HIGH

# -----------------------------
# Trivy Scan Frontend
# -----------------------------
- name: Scan Frontend Image
  uses: aquasecurity/trivy-action@master
  with:
    image-ref: ${{ env.ECR_FRONTEND }}
    format: table
    exit-code: 0
    severity: CRITICAL,HIGH

# -----------------------------
# Push Images to ECR
# -----------------------------
- name: Push Backend Image
  run: |
    docker push \
    216989134640.dkr.ecr.${AWS_REGION}.amazonaws.com/$ECR_BACKEND:latest

- name: Push Frontend Image
  run: |
    docker push \
    216989134640.dkr.ecr.${AWS_REGION}.amazonaws.com/$ECR_FRONTEND:latest

# -----------------------------
# Deploy to EC2
# -----------------------------
- name: Deploy on EC2
  uses: appleboy/ssh-action@v1.0.0
  with:
    host: ${{ secrets.EC2_HOST }}
    username: ubuntu
    key: ${{ secrets.EC2_SSH_KEY }}
    script: |
      cd /home/ubuntu/fullstack
      docker compose down
      docker compose pull
      docker compose up -d

# -----------------------------
# Runtime Trivy Scan
# -----------------------------
- name: Runtime Trivy Scan
  run: |
    docker run --rm aquasec/trivy image \
    216989134640.dkr.ecr.${AWS_REGION}.amazonaws.com/$ECR_BACKEND:lates
