name: Fullstack DevSecOps Pipeline

on:
  push:
    branches: [ main ]

permissions:
  id-token: write
  contents: read

jobs:
  pipeline:
    runs-on: ubuntu-latest

    steps:

    # ---------------- CHECKOUT ----------------
    - name: Checkout Code
      uses: actions/checkout@v3

    # ---------------- OIDC AUTH ----------------
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
        aws-region: eu-north-1

    # ---------------- SONARCLOUD SCAN ----------------
    - name: SonarCloud Scan
      uses: SonarSource/sonarcloud-github-action@v2
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

    # ---------------- QUALITY GATE ----------------
    - name: Sonar Quality Gate
      uses: SonarSource/sonarqube-quality-gate-action@master
      timeout-minutes: 5
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

    # ---------------- DOCKER BUILD ----------------
    - name: Build Backend Image
      run: docker build -t backend ./backend

    - name: Build Frontend Image
      run: docker build -t frontend ./frontend

    # ---------------- TRIVY IMAGE SCAN ----------------
    - name: Scan Backend Image
      uses: aquasecurity/trivy-action@master
      with:
        image-ref: backend
        format: table
        exit-code: 1
        severity: CRITICAL,HIGH

    - name: Scan Frontend Image
      uses: aquasecurity/trivy-action@master
      with:
        image-ref: frontend
        format: table
        exit-code: 1
        severity: CRITICAL,HIGH

    # ---------------- LOGIN TO ECR ----------------
    - name: Login to ECR
      run: |
        aws ecr get-login-password --region eu-north-1 \
        | docker login --username AWS \
        --password-stdin 216989134640.dkr.ecr.eu-north-1.amazonaws.com

    # ---------------- PUSH IMAGES ----------------
    - name: Push Backend
      run: |
        docker tag backend:latest 216989134640.dkr.ecr.eu-north-1.amazonaws.com/backend:latest
        docker push 216989134640.dkr.ecr.eu-north-1.amazonaws.com/backend:latest

    - name: Push Frontend
      run: |
        docker tag frontend:latest 216989134640.dkr.ecr.eu-north-1.amazonaws.com/frontend:latest
        docker push 216989134640.dkr.ecr.eu-north-1.amazonaws.com/frontend:latest

    # ---------------- DEPLOY TO EC2 ----------------
    - name: Deploy via Docker Compose
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ubuntu
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |

          aws ecr get-login-password --region eu-north-1 \
          | docker login --username AWS \
            --password-stdin 216989134640.dkr.ecr.eu-north-1.amazonaws.com

          docker pull 216989134640.dkr.ecr.eu-north-1.amazonaws.com/backend:latest
          docker pull 216989134640.dkr.ecr.eu-north-1.amazonaws.com/frontend:latest

          docker stop backend || true
          docker rm backend || true
          docker stop frontend || true
          docker rm frontend || true

          docker run -d -p 5000:5000 --name backend \
          216989134640.dkr.ecr.eu-north-1.amazonaws.com/backend:latest

          docker run -d -p 3000:5173 --name frontend \
          216989134640.dkr.ecr.eu-north-1.amazonaws.com/frontend:latest

    # ---------------- RUNTIME TRIVY ----------------
    - name: Runtime Trivy Scan
      uses: aquasecurity/trivy-action@master
      with:
        image-ref: 216989134640.dkr.ecr.eu-north-1.amazonaws.com/backend:latest
